<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TestBench_MediatorPattern_ProjektAdler</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/TestBench_MediatorPattern_ProjektAdler.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <div id="structure" style="align-content: center">
        <div id="component1">
            test1
        </div>
        <div id="component2">
            test2
        </div>
    </div>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>


@await RenderSectionAsync("Scripts", required: false)
</body>
</html>