@page


@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div id="structure" style="align-content: center">
    <div id="component1">
        <component type="ReloadOtherComponent"/>
    </div>
    <div id="component2">
        <component type="SpaceWithComponentsWhichNeedToBeReloaded"/>
    </div>
</div>
