@page
@namespace TestBench_MediatorPattern_ProjektAdler.Pages

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div id="structure" style="align-content: center">
    @using (Html.BeginForm())
    {
        <div id="component1">
            <ButtonComponent />
        </div>
        
        <div id="component2">
            <CounterComponent />
        </div>
    }
</div>


