@using System.Diagnostics.Metrics
@using TestBench_MediatorPattern_ProjektAdler.Code
@using TestBench_MediatorPattern_ProjektAdler.Code.Dependencies.Mediator
@using TestBench_MediatorPattern_ProjektAdler.Pages
<h3>ReloadOtherComponent</h3>

@code {
    
    static class Button
    {
        public static void Click()
        {
            TestMediator.mediator.Send(new PageComponentMediatorQuery());
        }
    }

    static class TestMediator
    {
        public static PageComponentMediator mediator;
        static TestMediator() 
        {
            var queryHandler = new BaseMediatorQueryHandler();
            mediator = new PageComponentMediator(queryHandler);
        }
    }
}