<h3>SpaceWithComponentsWhichNeedToBeReloaded</h3>

@code {

    public class Counter
    {
        uint _value = 0;
        public uint Value => _value;
        public void Increment() => _value++;
    }
}